In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
940,tt0257360,30000000,105834556,About Schmidt,Jack Nicholson|Kathy Bates|Hope Davis|Dermot M...,Alexander Payne,Schmidt Happens,66-year-old Warren Schmidt is a retired insura...,125,Drama|Comedy,New Line Cinema|Avery Pix,12/13/2002,6.7,2002
1841,tt0183505,51000000,149270999,"Me, Myself & Irene",Jim Carrey|RenÃ©e Zellweger|Anthony Anderson|R...,Peter Farrelly|Bobby Farrelly,From gentle to mental.,Rhode Island State Trooper Charlie Baileygates...,116,Comedy,Twentieth Century Fox Film Corporation|Conundr...,6/22/2000,5.9,2000
1855,tt0146309,80000000,34566746,Thirteen Days,Kevin Costner|Bruce Greenwood|Steven Culp|Dyla...,Roger Donaldson,You'll never believe how close we came,"Dramatisation of the Cuban Missile Crisis, the...",145,Drama|Thriller,New Line Cinema|Tig Productions,12/24/2000,6.6,2000
1861,tt0184858,42000000,32168970,Reindeer Games,Ben Affleck|Gary Sinise|Charlize Theron|Dennis...,John Frankenheimer,The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,Thriller,Dimension Films|Marty Katz Productions,2/25/2000,5.2,2000
1811,tt0120630,45000000,224834564,Chicken Run,Mel Gibson|Miranda Richardson|Timothy Spall|Im...,Peter Lord|Nick Park,This ain't no chick flick. It's poultry in mot...,Having been hopelessly repressed and facing ev...,84,Animation|Comedy|Family,DreamWorks SKG|Aardman Animations|DreamWorks A...,6/21/2000,6.3,2000

In [15]:
comedy=data[data.genres.str.contains('Comedy')]
comedy

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,5.8,2015
24,tt1596363,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,7.3,2015
26,tt2637276,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,6.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881,tt0213790,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,5.4,2000
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000

In [16]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [17]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def find_genre(line):
    genres_list = line.split('|')
    return genres_list


genres_dict={}
def genres_count(x):
    global genres_dict
    if genres_dict=={}:
        genres_dict=Counter(x)
        return genres_dict
    else:
        genres_dict.update(Counter(x))
        return genres_dict

final_dict=Counter({})
def count_items(x):
    final_dict.update(Counter(x))
    return final_dict

data.release_date=pd.to_datetime(data.release_date)
data['profit'] = data.revenue - data.budget
data['genres_list'] = data.genres.apply(find_genre)
data['actors_list'] = data.cast.apply(find_genre)
data['prcom'] = data.production_companies.apply(find_genre)
data['month']=data.release_date.dt.month_name(locale='Russian')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [17]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,actors_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]","[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I..."

ВАРИАНТ 2

In [38]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [21]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [4]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,actors_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Drama, History, War]","[Stephen Lang, Jeff Daniels, Robert Duvall, Ke..."

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
answers['3'] = 'Winnie the Pooh tt1449283'

In [5]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,actors_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Animation, Family]","[Jim Cummings, Travis Oates, Jim Cummings, Bud..."

# 4. Какова средняя длительность фильмов?

In [23]:
answers['4'] = 110

In [17]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = 106

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
answers['6'] = 'Avatar tt0499549'

In [19]:

data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [26]:
answers['7'] = 'The Lone Ranger tt1210819 '

In [20]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
answers['8'] = '1478'

In [21]:
len(data[data.profit>0].imdb_id.unique())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
answers['9'] = 'The Dark Knight tt0468569'

In [22]:
data[data.revenue==data[data.release_year==2008].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = 'The Lone Ranger tt1210819'

In [23]:
data[data.profit==data.query('2012<=release_year<=2014').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [30]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [17]:
b=[]
for genres in list(data.genres):
    genre = genres.split('|')
    b=b+genre
c=pd.DataFrame(Counter(b), index=['film']).transpose()
c[c.film==c.film.max()]

       film
Drama   782

ВАРИАНТ 2

In [18]:
a=Counter(data.genres_list[0])
for i in range(1, len(data.genres)):
    b=Counter(data.genres_list[i])
    a.update(b)
print(max(a, key=a.get))

Drama

In [19]:
data.genres_list.apply(genres_count)
print(max(genres_dict, key=genres_dict.get))

Drama

In [52]:
final_dict=Counter({})
data.genres_list.apply(count_items)
final_dict

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [48]:
dict_genres=Counter(data.genres_list.sum())
print(max(dict_genres, key=dict_genres.get))

Drama

# 12. Фильм

Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'

In [39]:
profit_films = data[data.profit>0]
goal=profit_films.genres_list.apply(genres_count)[0]
print(max(goal, key=goal.get))

Drama

# 13. Кто из режиссеров снял больше всего фильмов?

In [32]:
answers['13'] = 'Steven Soderbergh'

In [40]:
data['director'].value_counts()

Steven Soderbergh                  13
Ridley Scott                       12
Clint Eastwood                     12
Shawn Levy                         10
Steven Spielberg                   10
Adam Shankman                       8
M. Night Shyamalan                  8
Christopher Nolan                   8
Michael Bay                         8
Bobby Farrelly|Peter Farrelly       8
Gore Verbinski                      8
Ron Howard                          8
Tim Burton                          8
Todd Phillips                       8
Antoine Fuqua                       8
Peter Jackson                       8
Marc Forster                        7
Dennis Dugan                        7
Paul W.S. Anderson                  7
Brett Ratner                        7
Lasse HallstrÃ¶m                    7
Robert Rodriguez                    7
Robert Luketic                      6
Tony Scott                          6
Robert Zemeckis                     6
Martin Scorsese                     6
Adam McKay                          6
David Fincher                       6
Francis Lawrence                    6
Raja Gosnell                        6
                                   ..
Henry Alex Rubin                    1
Curtis Hanson                       1
Tony Goldwyn                        1
David Leland                        1
Peter Cattaneo                      1
Pitof                               1
Chris Buck|Jennifer Lee             1
Nick Hamm                           1
John Maybury                        1
Josh Gordon|Will Speck              1
Benson Lee                          1
Rick Rosenthal                      1
Harold Cronk                        1
Michael Haneke                      1
Mark Helfrich                       1
Guy Ferland                         1
Chad Stahelski|David Leitch         1
David Raynr                         1
Robert Rodriguez|Ethan Maniquis     1
Troy Nixey                          1
Mort Nathan                         1
Fred Wolf                           1
Christine Jeffs                     1
Lawrence Guterman                   1
Kelly Asbury|Lorna Cook             1
Sydney Pollack                      1
Sean McNamara                       1
Kirk De Micco                       1
Ron Underwood                       1
Asger Leth                          1
Name: director, Length: 957, dtype: int64

# 14. Кто из режиссеров снял больше всего прибыльных фильмов?

In [33]:
answers['14'] = 'Ridley Scott'

In [41]:
profit_films = data[data.profit>0]
profit_films.describe(include = ['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date,genres_list,actors_list
count,1478,1478,1478,1478,1478,1478,1478,1478,1478,1478,1478
unique,1478,1476,1467,774,1471,1478,548,1268,1189,548,1467
top,tt1800241,The Gift,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Ridley Scott,Misery loves family.,Jarhead is a film about a US Marine Anthony Sw...,Comedy,New Line Cinema,10/5/2001,[Comedy],"[Elijah Wood, Ian McKellen, Viggo Mortensen, L..."
freq,1,2,3,12,2,1,121,19,5,121,3

# 15. Кто из режиссеров принес больше всего прибыли?

In [34]:
answers['15'] = 'Peter Jackson'

In [42]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson                             5202593685
David Yates                               3379295625
Christopher Nolan                         3162548502
J.J. Abrams                               2839169916
Michael Bay                               2760938960
James Cameron                             2548546718
Francis Lawrence                          2476979588
Steven Spielberg                          2449700791
Joss Whedon                               2424593677
Gore Verbinski                            2271362290
Sam Raimi                                 2254066354
Ridley Scott                              2044035909
Chris Columbus                            1906968952
Tim Burton                                1724468396
Sam Mendes                                1710352791
James Wan                                 1620441367
Shawn Levy                                1515787063
Justin Lin                                1472947074
Steven Soderbergh                         1450928588
Ron Howard                                1379257991
Bill Condon                               1376664544
Carlos Saldanha                           1372764975
Pierre Coffin|Chris Renaud                1369275870
Colin Trevorrow                           1363528810
Clint Eastwood                            1329766334
Roland Emmerich                           1310587076
Todd Phillips                             1279393447
George Lucas                              1266398328
Alfonso CuarÃ³n                           1265157010
Raja Gosnell                              1188104000
                                             ...
Steve 'Spaz' Williams                      -42615954
Howard McCain                              -42966317
Ronald F. Maxwell                          -43076064
George Armitage                            -43191450
Demian Lichtenstein                        -43279825
Jaco Van Dormael                           -43452791
Stephen T. Kay                             -44187007
Steven Zaillian                            -45549103
Luis Mandoki                               -46383131
Antony Hoffman                             -46536031
Charles Shyer                              -46604061
Martin Brest                               -46733791
Brian De Palma                             -47286475
Jim Gillespie                              -48583698
Michael Caton-Jones                        -48936607
Richard Donner                             -49854540
Dan St. Pierre                             -51337973
Hironobu Sakaguchi|Motonori Sakakibara     -51868170
Juan Diego Solanas                         -51893525
Walter Hill                                -53111543
John Dahl                                  -56190660
Rod Lurie                                  -59032852
Oliver Hirschbiegel|James McTeigue         -64928486
Simon Wells                                -67278066
Joby Harold                                -71626175
Walter Hill|Jack Sholder                   -75171919
David Bowers|Sam Fell                      -84540684
Peter Hyams                                -86956545
Ron Underwood                              -92896027
James L. Brooks                            -96289726
Name: profit, Length: 957, dtype: int64

# 16. Какой актер принес больше всего прибыли?

In [35]:
answers['16'] = 'Emma Watson'

In [43]:
actors=set(data.actors_list.sum())
profit =[]
for i in actors:
    profit_sum=data[data.cast.str.contains(i)==True].profit.sum()
    profit.append(profit_sum)

df = pd.DataFrame({'actors': list(actors), 'profit': profit})
df[df.profit==df.profit.max()]

          actors      profit
159  Emma Watson  6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?

In [36]:
answers['17'] = 'Kirsten Dunst'

In [20]:
actors=set(data.actors_list.sum())
profit =[]
for i in actors:
    profit_sum=data[(data.cast.str.contains(i)==True) & (data.release_year==2012)].profit.sum()
    profit.append(profit_sum)

df = pd.DataFrame({'actors': list(actors), 'profit': profit})

df[df.profit==df.profit.min()]

             actors    profit
2653  Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [37]:
answers['18'] = 'Matt Damon'

In [40]:
final_dict=Counter({})
df=data[data.budget>data.budget.mean()]
df.actors_list.apply(count_items)
print(max(final_dict, key=final_dict.get))

Matt Damon

# 19. В фильмах какого жанра больше всего снимался c?

In [38]:
answers['19'] = 'Action'

In [51]:
NC=data[data.cast.str.contains('Nicolas Cage')]
print(max(Counter(NC.genres_list.sum()), key=Counter(NC.genres_list.sum()).get))

Action

# 20. Какая студия сняла больше всего фильмов?

In [39]:
answers['20'] = 'Universal Pictures (Universal)'

In [18]:
def studio(x):
    z=x.split('|')
    return z
pc=Counter(data.production_companies.apply(studio).sum())
pc_count=pd.DataFrame(dict(pc), index=['number']).transpose()
pc_count[pc_count.number==pc_count.number.max()]

                    number
Universal Pictures     173

# 21. Какая студия сняла больше всего фильмов в 2015 году?

In [40]:
answers['21'] = 'Warner Bros'

In [4]:
films_2015=data[data.release_year==2015]
pc=Counter(films_2015.production_companies.apply(studio).sum())
pc_count=pd.DataFrame(dict(pc), index=['number']).transpose()
pc_count[pc_count.number==pc_count.number.max()]

              number
Warner Bros.      12

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?

In [41]:
answers['22'] = 'Universal Pictures (Universal)'

In [11]:
comedy=data[data.genres.str.contains('Comedy')]
comedy.production_companies=comedy.production_companies.str.split('|')
new_df=comedy[['production_companies','revenue']].explode('production_companies')
new_df.groupby(['production_companies'])['revenue'].sum().sort_values(ascending=False)

production_companies
Universal Pictures                        12787945581
Walt Disney Pictures                      11514710326
Columbia Pictures                          9387143696
Twentieth Century Fox Film Corporation     8092960294
DreamWorks Animation                       6705049764
                                             ...
Telegraph Films                               2697930
Big Beach Productions                         2697930
Birdsong Pictures                             2614773
IM Global                                     2614773
Freestyle Releasing                           2336172
Name: revenue, Length: 702, dtype: int64

In [59]:
comedy=data[data.genres.str.contains('Comedy')].
comedy.production_companies=comedy.production_companies.str.split('|')
pc=list(set(comedy.production_companies.sum()))
comedy_dict = dict()
def comedy_top(row):
    for i in pc:
        try:
            if i in row['production_companies']:
                comedy_dict[i]+=row['revenue']
        except:
            comedy_dict[i] = row['revenue']     
comedy.apply(comedy_top, axis=1)
new_Dat=pd.DataFrame(list(comedy_dict.items()))
new_Dat.groupby([0])[1].sum().sort_values(ascending=False)

0
Universal Pictures                        12787945581
Walt Disney Pictures                      11514710326
Columbia Pictures                          9387143696
Twentieth Century Fox Film Corporation     8092960294
DreamWorks Animation                       6705049764
                                             ...
Telegraph Films                               2697930
Big Beach Productions                         2697930
Birdsong Pictures                             2614773
IM Global                                     2614773
Freestyle Releasing                           2336172
Name: 1, Length: 702, dtype: int64

In [79]:
comedy=data[data.genres.str.contains('Comedy')]
comedy.production_companies=comedy.production_companies.str.split('|')
pc=list(set(comedy.production_companies.sum()))

comedy_dict = dict()

for i in pc:
        comedy_dict[i]=0

def comedy_top(row):
    for i in comedy_dict:
        if i in row['production_companies']:
            comedy_dict[i]+=row['revenue']
        else:
            continue
    return comedy_dict
comedy.apply(comedy_top, axis=1)
new_com=pd.DataFrame(list(comedy_dict.items()))
new_com.groupby([0])[1].sum().sort_values(ascending=False)

0
Universal Pictures                        12787945581
Walt Disney Pictures                      11514710326
Columbia Pictures                          9387143696
Twentieth Century Fox Film Corporation     8092960294
DreamWorks Animation                       6705049764
                                             ...
Telegraph Films                               2697930
Big Beach Productions                         2697930
Birdsong Pictures                             2614773
IM Global                                     2614773
Freestyle Releasing                           2336172
Name: 1, Length: 702, dtype: int64

In [82]:
comedy=data[data.genres.str.contains('Comedy')]
comedy.production_companies=comedy.production_companies.str.split('|')
pc=list(set(comedy.production_companies.sum()))

comedy_dict = dict()

def comedy_top(row):
    for i in pc:
        if comedy_dict == dict():
            if i in row['production_companies']:
                comedy_dict[i]=row['revenue']
            else: 
                comedy_dict[i]=0
        else:
            if i in row['production_companies']:
                if i in comedy_dict.keys():
                    comedy_dict[i]+=row['revenue']
                else:
                    comedy_dict[i] = row['revenue']
    return comedy_dict
comedy.apply(comedy_top, axis=1)
new_com=pd.DataFrame(list(comedy_dict.items()))
new_com.groupby([0])[1].sum().sort_values(ascending=False)

0
Universal Pictures                        12787945581
Walt Disney Pictures                      11514710326
Columbia Pictures                          9387143696
Twentieth Century Fox Film Corporation     8092960294
DreamWorks Animation                       6705049764
                                             ...
Telegraph Films                               2697930
Big Beach Productions                         2697930
Birdsong Pictures                             2614773
IM Global                                     2614773
Freestyle Releasing                           2336172
Name: 1, Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?

In [42]:
answers['23'] = 'Columbia Pictures'

In [8]:
year_2012=data[data.release_year==2012]
year_2012_r=year_2012[['prcom','revenue']].explode('prcom')
year_2012_r.groupby(['prcom'])['revenue'].sum().sort_values(ascending=False)

prcom
Columbia Pictures        3468406608
Universal Pictures       2901011579
Warner Bros.             1869520056
Relativity Media         1701593938
Marvel Studios           1519557910
                            ...
Mandalay Vision             4636169
Paradox Entertainment       4636169
Liddell Entertainment       3428048
Wonderful Films PLC         3428048
LD Entertainment            3428048
Name: revenue, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures?

In [43]:
answers['24'] = 'K-19: The Widowmaker tt0267626'

In [14]:
loser=data[data.production_companies.str.contains('Paramount Pictures')]
loser[loser.profit==loser.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,actors_list,prcom
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Paramount Pictures, Intermedia Films, Nationa..."

# 25. Какой самый прибыльный год (в какой год студии заработали больше всего)?

In [44]:
answers['25'] = '2015'

In [21]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['26'] = '2014'

In [22]:
winer=data[data.production_companies.str.contains('Warner Bros')]
winer.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['27'] = 'Сентябрь'

In [13]:
data.release_date.dt.month_name(locale='Russian').value_counts()

Сентябрь    227
Декабрь     190
Октябрь     186
Август      161
Март        156
Апрель      149
Июнь        147
Ноябрь      146
Июль        142
Май         140
Февраль     135
Январь      110
Name: release_date, dtype: int64

# 28. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [47]:
answers['28'] = '450'

In [41]:
data.release_date.dt.month_name(locale='Russian').value_counts().loc[['Июнь','Июль','Август']].sum()

450

# 29. Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

In [48]:
answers['29'] = 'Peter Jackson'

In [74]:
winter=data.query('release_date.dt.month == 12 or release_date.dt.month ==1 or release_date.dt.month == 2')
winter.director=winter.director.str.split('|')
director=winter[['director','imdb_id']].explode('director')
director.groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

C:\ProgramData\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: imdb_id, Length: 358, dtype: int64

# 30. Какой месяц чаще всего самый прибыльный в году?

In [49]:
answers['30'] = 'Июнь'

In [105]:
pivot = data.pivot_table(values=['profit'],
index=['month'],
columns=['release_year'],
aggfunc='sum')
months=[]
for i in pivot:
    month=pivot[pivot[i]==pivot[i].max()].index[0]
    months.append(month)
Counter(months)

Counter({'Декабрь': 4, 'Май': 4, 'Июнь': 7, 'Июль': 1})

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?

In [50]:
answers['31'] = 'Four By Two Productions'

In [12]:
titles=data[['prcom','original_title']].explode('prcom')

def fun(x):
    length=len(x)
    return length
titles['length']=titles.original_title.apply(fun)
titles.groupby(['prcom'])['length'].mean().sort_values(ascending=False)

prcom
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: length, Length: 1771, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?

In [51]:
answers['32'] = 'Four By Two Productions'

In [27]:
def count_shift(x):
    return x.count(' ')
titles.original_title.apply(count_shift)
titles['words_number'] = titles.original_title.apply(count_shift)+1
titles.groupby(['prcom'])['words_number'].mean().sort_values(ascending=False)

prcom
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Dos Corazones               9.0
Polsky Films                9.0
The Saul Zaentz Company     9.0
                           ...
Jolie Pas                   1.0
Frantic Films               1.0
Outpost Studios             1.0
Cinelou Films               1.0
Danjaq                      1.0
Name: words_number, Length: 1771, dtype: float64

# 33.Сколько разных слов используется в названиях фильмов (без учета регистра)?

In [52]:
answers['33'] = '2461'

In [63]:
films_words=' '.join(data.original_title).lower().split(' ')
len(set(films_words))

2461

# 34.Какие фильмы входят в 1 % лучших по рейтингу?

In [53]:
answers['34'] = '2461'

In [10]:
np.percentile(data.vote_average, 99)
data[data.vote_average>7.8].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 35.Какие актеры чаще всего снимаются в одном фильме вместе?

In [54]:
answers['35'] = 'Daniel Radcliffe and Rupert Grint'

In [42]:
from itertools import combinations
def combine(row):
    return list(combinations(row,2))   
data['combinations'] = data.actors_list.apply(combine)
comb_list=data['combinations'].sum()
print(max(Counter(comb_list), key=Counter(comb_list).get))

('Daniel Radcliffe', 'Rupert Grint')

# 36.У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

In [55]:
answers['36'] = 'Ridley Scott'

In [18]:

data.director=data.director.str.split('|')
profit_dir=data[['director','original_title','profit']].explode('director')
all_films=profit_dir.director.value_counts().reset_index()
all_films.columns = ['director', 'counts']
x=profit_dir[profit_dir.profit>0]
profit_films=x.director.value_counts().rename_axis('director').reset_index(name='counts')
merged=all_films.merge(profit_films, on='director', how='outer')

merged['prof_percent']=merged.counts_y/merged.counts_x*100

merged.sort_values('prof_percent',ascending=False).head(20)

               director  counts_x  counts_y  prof_percent
994     Christophe Gans         1       1.0         100.0
459   Karey Kirkpatrick         1       1.0         100.0
461          Robin Budd         1       1.0         100.0
462       Brian Klugman         1       1.0         100.0
464     Peter Landesman         1       1.0         100.0
465        Jesse Peretz         1       1.0         100.0
469       JosÃ© Padilha         1       1.0         100.0
470          Ben Garant         1       1.0         100.0
471         Dan Scanlon         1       1.0         100.0
472          Max Joseph         1       1.0         100.0
473        Peter Webber         1       1.0         100.0
475     Angela Robinson         1       1.0         100.0
477      Dean Israelite         1       1.0         100.0
478  Anthony Silverston         1       1.0         100.0
481     Gregory Plotkin         1       1.0         100.0
482        Stuart Baird         1       1.0         100.0
484         Mary Harron         1       1.0         100.0
485           Nick Hamm         1       1.0         100.0
486         Phil Traill         1       1.0         100.0
460       Oliver Parker         1       1.0         100.0

In [19]:
#data.director=data.director.str.split('|')
profit_dir=data[['director','original_title','profit']].explode('director')
all_films=profit_dir.director.value_counts().reset_index()
all_films.columns = ['director', 'counts']
x=profit_dir[profit_dir.profit>0]
profit_films=x.director.value_counts().rename_axis('director').reset_index(name='counts')
merged=all_films.merge(profit_films, on='director', how='outer')
merged['percent']=merged.counts_y/merged.counts_y.sum()*100

#merged['percent']=merged.counts_y/len(data.original_title)*100
#merged['percent']=merged.counts_y/merged.counts_x.sum()*100

merged.sort_values('percent',ascending=False).head(20)

              director  counts_x  counts_y   percent
2         Ridley Scott        12      12.0  0.743955
0    Steven Soderbergh        13      10.0  0.619963
6     Steven Spielberg        10      10.0  0.619963
1       Clint Eastwood        12      10.0  0.619963
4           Shawn Levy        10       9.0  0.557967
8           Tim Burton         9       9.0  0.557967
15         Michael Bay         8       8.0  0.495970
3     Robert Rodriguez        11       8.0  0.495970
5       Peter Farrelly        10       8.0  0.495970
18       Antoine Fuqua         8       8.0  0.495970
17        Brett Ratner         8       8.0  0.495970
11   Christopher Nolan         8       8.0  0.495970
16       Peter Jackson         8       8.0  0.495970
13       Adam Shankman         8       7.0  0.433974
12       Todd Phillips         8       7.0  0.433974
10  M. Night Shyamalan         8       7.0  0.433974
7       Bobby Farrelly         9       7.0  0.433974
41     Robert Zemeckis         6       6.0  0.371978
29       David Fincher         6       6.0  0.371978
43        Raja Gosnell         6       6.0  0.371978

In [7]:
profit_films=data[data.profit>0]
profit_dir=profit_films[['director','profit']].explode('director')
x=profit_dir.groupby(['director'])['profit'].sum()
y=x.rename_axis('director').reset_index(name='sum')
profit_sum=y['sum'].sum()
y['share']=y['sum']/profit_sum*100

y.sort_values('share',ascending=False)

              director         sum     share
555      Peter Jackson  5202593685  2.623699
174        David Yates  3379295625  1.704199
122  Christopher Nolan  3162548502  1.594892
279        J.J. Abrams  2839169916  1.431811
476        Michael Bay  2760938960  1.392358
..                 ...         ...       ...
337        John Bonito     2165608  0.001092
327       Joe Nussbaum     2130000  0.001074
63         Bill Paxton     2110448  0.001064
645       Sarah Gavron     2002420  0.001010
114   Christian Alvart     2000000  0.001009

[774 rows x 3 columns]

# Submission

In [56]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh tt1449283',
 '4': 110,
 '5': 106,
 '6': 'Avatar tt0499549',
 '7': 'The Lone Ranger tt1210819 ',
 '8': '1478',
 '9': 'The Dark Knight tt0468569',
 '10': 'The Lone Ranger tt1210819',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Steven Soderbergh',
 '14': 'Ridley Scott',
 '15': 'Peter Jackson',
 '16': 'Emma Watson',
 '17': 'Kirsten Dunst',
 '18': 'Matt Damon',
 '19': 'Action',
 '20': 'Universal Pictures (Universal)',
 '21': 'Warner Bros',
 '22': 'Universal Pictures (Universal)',
 '23': 'Columbia Pictures',
 '24': 'K-19: The Widowmaker tt0267626',
 '25': '2015',
 '26': '2014',
 '27': 'Сентябрь',
 '28': '450',
 '29': 'Peter Jackson',
 '30': 'Июнь',
 '31': 'Four By Two Productions',
 '32': 'Four By Two Productions',
 '33': '2461',
 '34': '2461',
 '35': 'Daniel Radcliffe and Rupert Grint',
 '36': 'Ridley Scott'}

In [57]:
# и убедиться что ни чего не пропустил)
len(answers)

36